@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.selectRover{
    width: 25em;
}

.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 1rem;
}
.css-qc6sy-singleValue {
    color: black;
    grid-area: 1/1/2/3;
    margin-left: 2px;
    margin-right: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.css-14el2xx-placeholder {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
    font-weight: 400;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
}

.select-wrapper input.select-dropdown{
    font-size: 1.5em;
}


.dropdown-content li>a, .dropdown-content li>span{
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


/* MULTI-SELECT */
.css-1s2u09g-control{
    background-color: transparent;
    border: none;
}
#react-select-3-listbox{
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: linear-gradient(180deg, rgba(94, 99, 105, 0.9) 0%, rgba(110, 109, 128, 0.9) 100%);
}
#react-select-5-listbox{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: linear-gradient(180deg, rgba(94, 99, 105, 0.9) 0%, rgba(110, 109, 128, 0.9) 100%);
}
#react-select-5-placeholder{
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;

}
.css-12jo7m5{
    font-family: 'Montserrat', sans-serif;
}

.css-1pahdxg-control{
    background-color: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
.css-1pahdxg-control:hover{
    border-color: black ;
}
.css-14el2xx-placeholder {
    color: black;
    font-weight: 400;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
}